* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

h1,p {
  color: white;
}

.qabox {

}

.bg {
  /* The image used */
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../wilderness.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

}

.main-title {
  text-align: center;
  color: white;
  font-size:8vw;
}

.main-quote {
  text-align: center;
  color: white;
  font-size:4vw;
  font-style: italic;
}

ul {
  align-self: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: black;
}

.button {
  opacity: .9;
  display: inline-block;
  border-style: ridge;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

#facebook-button {
  background: #4267B2;
}
.button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2);
}

.buttons {
  margin-top: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.infobox {
  text-align: center;
}

.menu{
  display: flex;
  justify-content: flex-end;
}

.footer {
  flex-shrink: 0;
  padding: 20px 20px;
  justify-content: center;
  background-color: black;
  display: flex
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .menu {
    justify-content: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
